<table class="table">
    <thead>
    <tr>
        <th>Nazwa projektu</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects">
        <td>{{project.name}}</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="sprintsButton(project)">Wiecej</button>
        </td>

    </tr>
    </tbody>
</table>
<hr>
<div>Dodawanie nowego projektu</div>
<div>
    <div>
        <input type="text" class="form-control" placeholder="Nazwa Projektu" ng-model="projectName" style="width:200px; margin-bottom:4mm"/>
        {{ projectName }}
        <input type="text" class="form-control" placeholder="Opis projektu"ng-model="projectDescription" style="width:200px;margin-bottom:4mm"/>
        <input type="number" class="form-control" placeholder="Budżet" ng-model="projectBudget" style="width:200px;margin-bottom:4mm"/>
        <label>Data startu</label>
        <input type="date" class="form-control" placeholder="Data startu" ng-model="startTime" style="width:200px;margin-bottom:4mm"/>
        <label>Data końca</label>
        <input type="date" class="form-control" placeholder="Data końca" ng-model="finishTime" style="width:200px;margin-bottom:4mm"/>
    </div>
    <div>
        <button type="button" class="btn btn-primary" ng-click="addProject(projectName,projectDescription, projectBudget, startTime| date : format : timezone,finishTime| date : format : timezone  )">Dodaj projekt</button>
    </div>
</div>