<table class="table">
    <div>
        <div> Sprint nr {{ sprintId }}</div>
        <div>Data startu {{ sprint.start_time | date : format : timezone }}</div>
        <div> Data końca {{ sprint.finish_time | date : format : timezone }}</div>
    </div>
    <thead>
    <tr>
        <th>Numer zadania</th>
        <th>Stan</th>
        <th>Opis</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in sprintTasks">
        <td>{{ task.id }}</td>
        <td>{{ task.stage }}</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="taskViewButton(task.id)">Wiecej</button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <div>
        <input type="text" class="form-control" ng-model="taskName" style="width:200px"/>
        <button type="button" class="btn btn-primary" ng-click="addTask()">Dodaj Zadanie</button>
    </div>
</div>